<div id="carouselImages" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/flowerThemeSelection.png" class="d-block w-100" alt="Carousel image 1">
        </div>
        <div class="carousel-item">
            <img src="~/Images/𝐌𝐚𝐤𝐞𝐮𝐩𝐏𝐞𝐫𝐟𝐮𝐦𝐞.jpg" class="d-block w-100" alt="Carousel image 2">
        </div>
        <div class="carousel-item">
            <img src="~/Images/lipsticks.jpg" class="d-block w-100" alt="Carousel image 3">
        </div>
        <div class="carousel-item">
            <img src="~/Images/cream.jpg" class="d-block w-100" alt="Carousel image 4">
        </div>
        <div class="carousel-item">
            <img src="~/Images/Perfum.jpg" class="d-block w-100" alt="Carousel image 5">
        </div>
    </div>
</div>